@import url(https://fonts.google.com/specimen/Josefin+Sans);
@import 'light';
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
body{
    min-width: 375px;
    background: $backgroundDark;
    transition: all .5s ease;
    .header{
        background: url(/images/bg-desktop-dark.jpg);
        height: 250px;
        background-size: cover;
        transition: all .5s ease;
        .header-content{
            width: 45%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            position: relative;
            top: 60px;
            color: #fff;
            h1{
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: 10px;
            }
            box-icon{
                cursor: pointer;
                width: 1.5rem;
                height: 1.5rem;

            }
        }
    }
    main{
        position: relative;
        top: -140px;
        width: 50%;
        margin: 20px auto;
        .todos{
            margin-bottom: 20px;
            input{
                border: none;
                background: none;
                font-size: 1.025rem;
                color: inherit;

            }
            input:focus{
                outline: none;
            }
        }
        ::placeholder{
            color: $fontdark;
        }
        .todos,
        .todo,
        .states{
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $fontdark;
            padding: 20px;
            transition: all .5s ease;
            p{
                font-size: 1.025rem;
            
            }

        }
        .states{
            justify-content: space-between;
            color: $fontdark2;
            transition: all .5s ease;

        }
        .states p {
            cursor: pointer;
        }
        .todos span,
        .todo span{
            border: 1px solid $borderdark;
            border-radius: 50%;
            width: 2%;
            margin:0 5px;
            padding: 10px;
            transition: all .5s ease;

        }
        .todos.active span,
        .todo.active span{
            background:$coloractive ;
            border: none;
            
        }
        .todo.active p {
            text-decoration: line-through;
            color: $fontdisble;
        }
        .todo.active .bx.bx-x-circle{
                display: block;
        }
        .todos input,
        .todo p{
            width: 90%;
        }
 
        .todo{
            overflow-wrap:break-word;
            border-bottom:1px solid $fontdisble ;
            padding: 15px;
            transition: all .5s ease-in;
            cursor:pointer;
            .bx.bx-x-circle{
                display: none;
                color: $fontdark;
                font-size: 1.5rem;
            }
            &:hover{
                .bx.bx-x-circle{
                    display: block;
                }
            }
        }

        .todos,
        .content-todo,
        .states{
            background:$listdark ;
            transition: all .5s ease;
            box-shadow: 0 0 8px 0.5px $listdark;
        }
        .content-todo{
            display: flex;
            flex-direction: column-reverse;
        }
        .todos,
        .states{
            padding: 15px;
        }
        .state-todo{
            width: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .todo-list{
            color: $todoactive;
            transition: all .5s ease;

        }
    }
    
    footer{
        margin-top: 50px;
        color: $fontdark2;
        text-align: center;
    }
}
@media only screen and (max-width:980px){
    body{
        width: 100%;
        .header{
            width:100%;
            .header-content{
                width: 55%;
            }
        }
        main{
            width: 55%;
        }
    }
        
}
@media only screen and (max-width:765px){
    body{
        width: 100%;
        .header-content{
            width: 80%;
        }
        main{
            width: 80%;
        }
    }
}
    @media only screen and (max-width:525px){
        body{
            width: 100%;
            .header{
                background: url(/images/bg-mobile-dark.jpg);
                background-size: cover;
                .header-content{
                    width: 85%;
                }
            }
            main{
                width: 80%;
                .states{
                    position: relative;
                }
                .todos,
                .todo,
                .states{
                    border-radius: 5px;
                }
                .todo{
                    .bx.bx-x-circle{
                        display: block;
                        font-size: 1rem;
                    }
                }
                .state-todo{
                transition: all .5s ease;
                justify-content: space-evenly;
                font-weight: 700;
                background: $listdark;
                padding: 20px;
                border-radius: 5px;
                position:absolute;
                width: 100%;
                top: 70px;
                left: -1px;                
            }
            
        }
            footer{
                margin-top: 130px;
            }
         
        }

            
    }

