//generales
$coloractive:linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
$todoactive:hsl(220, 98%, 61%);

//Dark
$backgroundDark :hsl(235, 21%, 11%);
$listdark:  hsl(235, 24%, 19%);
$fontdark:hsl(234, 39%, 85%);
$borderdark:hsl(233, 14%, 35%);
$fontdark2:hsl(234, 11%, 52%);
$fontdisble:hsl(237, 14%, 26%);
$color8:hsl(236, 33%, 92%);

//Light
$backgroundlight:hsl(0, 0%, 98%);
$listlight:hsl(236, 33%, 92%);
$fontdisableL:hsl(233, 11%, 84%);
$fontlight:hsl(235, 19%, 35%);




/*
- Bright Blue: 
- Check Background: 
*/

/*
- Very Dark Blue: 
- Very Dark Desaturated Blue: 
- Light Grayish Blue: 
- Light Grayish Blue (hover): 
- Dark Grayish Blue: 
- Very Dark Grayish Blue: 
- Very Dark Grayish Blue: 

*/